{
    "plugins": ["import", "babel"],
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "settings": {
        "import/cache": {
            "lifetime": "∞"
        }
    }
}