sudo: false
language: node_js
cache:
  directories:
  - node_modules

node_js:
- 6
- 4

before_install:
- npm i -g npm@latest

before_script:
- npm prune

script:
- npm test

after_success:
- './node_modules/.bin/nyc report --reporter=lcov > coverage.lcov && ./node_modules/.bin/codecov'
- 'curl -Lo travis_after_all.py https://git.io/travis_after_all'
- python travis_after_all.py
- export $(cat .to_export_back) &> /dev/null
- npm run semantic-release

branches:
  only:
  - master
  - /^greenkeeper-.*$/
